name: MeshCom CI

on: 
  push:
    tags:
    - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cache/pip
          ~/.platformio/.cache
        key: ${{ runner.os }}-pio
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install PlatformIO Core
      run: pip install --upgrade platformio

    - name: Install RAK Deps
      run: pio platform install nordicnrf52

    - name: Patch PlatformIO for RAK1
      run: "mkdir ~/.platformio/RAK_PATCH && cd ~/.platformio/RAK_PATCH && wget https://raw.githubusercontent.com/RAKWireless/WisBlock/master/PlatformIO/RAK_PATCH.zip && unzip RAK_PATCH.zip && python rak_patch.py"

    - name: Prepare for RAK Patch2
      continue-on-error: true
      run: "cd ${{ github.workspace }} && pio run -e wiscore_rak4631 && exit 0"

    - name: Patch PlatformIO for RAK2
      run: "cd ~/.platformio/RAK_PATCH && python rak_patch.py"

    - name: Build all Projects
      run: "cd ${{ github.workspace }} && pio run"

    - name: Rename Files
      run: "mv .pio/build/E22-DevKitC/firmware.bin .pio/build/E22-DevKitC/E22-DevKitC.bin & 
      mv .pio/build/heltec_wifi_lora_32_V2/firmware.bin .pio/build/heltec_wifi_lora_32_V2/heltec_wifi_lora_32_V2.bin &
      mv .pio/build/heltec_wifi_lora_32_V3/firmware.bin .pio/build/heltec_wifi_lora_32_V3/heltec_wifi_lora_32_V3.bin &
      mv .pio/build/ttgo-lora32-v21/firmware.bin .pio/build/ttgo-lora32-v21/ttgo-lora32-v21.bin &
      mv .pio/build/ttgo_tbeam/firmware.bin .pio/build/ttgo_tbeam/ttgo_tbeam.bin &
      mv .pio/build/ttgo_tbeam_SX1262/firmware.bin .pio/build/ttgo_tbeam_SX1262/ttgo_tbeam_SX1262.bin &
      mv .pio/build/ttgo_tbeam_SX1268/firmware.bin .pio/build/ttgo_tbeam_SX1268/ttgo_tbeam_SX1268.bin &
      mv .pio/build/vision-master-e290/firmware.bin .pio/build/vision-master-e290/vision-master-e290.bin &
      mv .pio/build/wiscore_rak4631/firmware.zip .pio/build/wiscore_rak4631/wiscore_rak4631.zip &
      mv .pio/build/esp32-S3-safeboot/safeboot.bin .pio/build/esp32-S3-safeboot/safeboot-s3.bin &
      mv .pio/build/esp32-S3-safeboot/bootloader.bin .pio/build/esp32-S3-safeboot/bootloader-s3.bin"
        
    - uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        removeArtifacts: true
        replacesArtifacts: true
        artifacts: ".pio/build/E22-DevKitC/E22-DevKitC.bin,
        .pio/build/heltec_wifi_lora_32_V2/heltec_wifi_lora_32_V2.bin,
        .pio/build/heltec_wifi_lora_32_V3/heltec_wifi_lora_32_V3.bin,
        .pio/build/ttgo-lora32-v21/ttgo-lora32-v21.bin,
        .pio/build/ttgo_tbeam/ttgo_tbeam.bin,
        .pio/build/ttgo_tbeam_SX1262/ttgo_tbeam_SX1262.bin,
        .pio/build/ttgo_tbeam_SX1268/ttgo_tbeam_SX1268.bin,
        .pio/build/vision-master-e290/vision-master-e290.bin,
        .pio/build/wiscore_rak4631/wiscore_rak4631.zip,
        .pio/build/esp32-S3-safeboot/safeboot-s3.bin,
        .pio/build/esp32-safeboot/safeboot.bin,
        .pio/build/esp32-S3-safeboot/bootloader-s3.bin,
        .pio/build/esp32-safeboot/bootloader.bin,
        .pio/build/esp32-safeboot/partitions.bin"
        bodyFile: "release.md"
